<Files .*>
    Order allow,deny
    Deny from all
</Files>
<FilesMatch "\.(html)$">
    Order allow,deny
    Deny from all
</FilesMatch>
RedirectMatch 404 /\.git

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1.php [L,QSA]




